@charset "UTF-8";

div#tv-radio  {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    width: 318px;
    left: 566px;
    top: 490px;
}

video#filme {
    display: block;
    position: relative;
    width: 520px;
    left: 50px;
    top: 50px;
}